page-useraccount {
    h1{
        margin-top: 2rem !important;
        font-size: 3rem !important ;
    }
    h6{
        margin-top: -1.4rem;
        font-size: 2.2rem !important;
        color: #707070;
    }
    .userimg {
        margin: 5px; //fix size
        text-align: center;
        ///รูป
        height: 100px;
        /* ความสูงปรับให้เป็นออโต้ */
        width: auto;
        /* ความสูงปรับให้เป็นออโต้ */
        border: 0px solid #fff;
        /* เส้นขอบขนาด 0px solid: เส้น #fff:โค้ดสีขาว */
        border-radius: 50%;
        /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
    }
    .username {
        margin: 10px; //fix size
        text-align: center;
        color: #414344;
    }
    .cardsize {
        margin-top: 20px;
        margin-left: 20px;
        width: 90%;
        height: 180px;
    }
    .contentuser {
        text-align: left;
        margin-top: 5px;
    }
    #button {
        text-align: center;
    }
    #data {
        width: 100%;
        font-size: 2rem;
        font-weight: 700 !important;    
        color: #434343;
        text-align: left;
        margin-top: 15px;
        margin-left: 5px;
        font-weight: 750;
    }
    #bedit {
        // width: 100%;
        text-align: right;
    }
    img {
        width: 20px;
    }
    #Ph {
        width: 100%;
        text-align: left;
    }
    .toolbar-ios ion-title {
        padding: 0px;
    }
    .font {
        font-size: 1.8rem;
        font-weight: 600;
        color: #414344;
    
    }
    .custom {
        // padding: 20px ;
        height: 30px;
    }
    .carduser {
        padding: 12px;
        border-radius: 7px;
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.07);
		-webkit-box-shadow :0 0 6px 3px rgba(0, 0, 0, 0.07);
    }
}