page-videointroduce {
	.card-content{
        min-width: 0;
        padding:0;
        margin-left: 10px;

    }
    .imgsize{
        max-width: 100%;
        width: 100%;
        height: 90px;
    
    }
    .cardsize{
        margin-top: 0%;
        width: 100%;
        height: 50% !important;
        padding: 0%;
    }
    .card-title{
        padding: 0;
        font-size:1.8rem;
        color: #434343;
    }
    .detail p{
        font-size:1.7rem;
        color: #707070
    }
    .coursesize1 {
        font-size: 1.8rem;
        font-weight: 700 !important;
        padding: 2px 0 0 0;
    }
    .padding{
        padding: 10%;
    }
    p{
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
        padding-bottom: 2px;
        width: 90% !important;
    }
    .card-md{
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow : 0 5px 6px rgba(0, 0, 0, 0.18);
    }

    .card-ios{
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow : 0 5px 6px rgba(0, 0, 0, 0.18);
    }
    
}

