registerdetails {
    .picregister {
        margin-top: 0px;
        text-align: center;
    }
    .level {
        font-size: 30px;
        text-align: left;
    }
    .iconn {
        width: 30px;
        height: 30px;
        margin-left: 20px;
        margin-top: -10px;
    }
    .boxc {
        margin-top: 10px;
        margin: 8px;
        box-sizing: border-box;
        border: 2px solid #d7d7d7;
        border-radius: 7px;
    }
}