page-instruction {
    .course{
		margin-left : 10px;
    }
    .namecourse{
    
        text-align: left;
        margin: 0px;
    }
    .contentuser{
		color: rgb(129, 135, 135);
        text-align: left;
       
    }
    .icondirection{
       
        // margin-top: 20px;
        margin-left : 190px;
        
    }
    .pager{
        margin: 0px;
    }
    .toolbar-ios ion-title{
		padding: 0px;
	}
    .iconsearch{
		// width: 50px;
		// height : 50px;
		font-size: 2em;
	}
	.search{
		margin-right: 10px;
		padding: 0;
		text-align: right;	
	}
	.menutitle{
		text-align: center;
	}
	.iconmenu{
		font-size: 2em;
    }
    .imgsize {
       font-size: 40%
        
    }
    .sizeicon{
        font-size: 30px;
        margin-left: 10%;
    }
    .cardsize{
        border-radius: 5px;
        padding: 0%;
        box-shadow: -1px 2px 6px 2px rgba(0, 0, 0, 0.18);
		-webkit-box-shadow : -1px 2px 6px 2px rgba(0, 0, 0, 0.18);
    }
    .coursesize1 {
        font-size: 2rem;
        font-weight: 700 !important;
        color: #707070;
        margin-top: 10px !important;
       
    }
    .hydrated{
        padding-top: 5px;
    }
	

}
