page-register {
    .headregis{
        font-weight: bold!important;
        padding-top: 2rem;
    }

    #bt {
        text-align: right;
        width: 15px;
        height: 15px;
    }
    .head {
        text-align: center;
        font-size: 20px;
    }
    .Bmessage1 {
        text-align: right;
        padding: 0;
    }
    .Bmessage2 {
        text-align: left;
        padding: 0;
    }
    .card {
        border-radius: 7px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .itemm {
        font-size: 10px;
    }
    .label2 {
        text-decoration: underline;
        font-weight: bold;
        font-size: 1.5rem;
        
        
    }
    .label1 {
        font-size: 1.2rem;
        text-align: right;
        color: #929191;
    }
    .box {
        text-align: right;
    } 
    .checkbox-md .checkbox-checked{
        border-color: #89CB3A!important;
        background-color: #89CB3A!important;
    }
}