<ion-header>
    <ion-navbar color="Custom_green">
            <ion-grid>
                    <ion-row>
                        <ion-col col-10>
                                <ion-title class="menutitle ios-menutitle">{{config.get_translation('learn_menu_title')}}</ion-title>
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                </ion-grid>  
    </ion-navbar>
</ion-header>


<ion-content>
        <div *ngFor="let item of videos">
        <videocomponent *ngIf="item.type == 'vdo'; else pdf" [video]="item"></videocomponent>
        <!-- <div *ngIf="item.type == 'vdo'; else pdf">
            <ion-grid>
                  <video id="my-video" webkit-playsinline="true" playsinline="true"  controls="controls" preload="metadata" width="100%">
                      <source src={{videos[0].learn[0].vdo}}
                   type="video/mp4"/>
                 </video>
              <ion-row class="customSlide" >
                  <ion-slides #mySlider *ngIf="sliderg != []"> 
                      <ion-slide *ngFor="let slide of sliderg">
                          <img class="img-responsive" [src]="slide.image" />
                      </ion-slide>
                   </ion-slides>
              </ion-row>
              <ion-row>
                <ion-card class="customCard" *ngIf="sliderg != []">
                    <ion-slides slidesPerView="4" #mySliderOne> 
                        <ion-slide *ngFor="let slide of sliderg" (click) = setTimeVideo(slide)>
                            <img class="img-responsive" [src]="slide.image" />
                        </ion-slide>
                     </ion-slides>
                </ion-card>
              </ion-row>
            </ion-grid>
          </div> -->
        <ng-template #pdf>
            <pdfcomponent [pdfdoc]="item"></pdfcomponent>
        </ng-template>
   
    </div>

</ion-content>