<ion-grid>
    <ion-row class="picregister">
        <ion-col float center>
            <img src="assets/assets dnp mobile/Group 408.png">
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-label color="font" class="level">
                ขั้นตอนที่ 3
            </ion-label>

        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <!-- <ion-input type="text" placeholder="เลือกฝ่าย"></ion-input> -->

            <ion-item class="boxc">

                <ion-label>เลือกฝ่าย</ion-label>
                <ion-select okText="ตกลง" cancelText="ปิด">
                    <ion-option value="1">1.</ion-option>
                    <ion-option value="2">2.</ion-option>

                </ion-select>
            </ion-item>
        </ion-col>

    </ion-row>


    <ion-row>


        <ion-col>
            <!-- <ion-input type="text" placeholder="เเผนก"></ion-input> -->

            <ion-item class="boxc">

                <ion-label>เเผนก</ion-label>
                <ion-select okText="ตกลง" cancelText="ปิด">
                    <ion-option value="1">1.</ion-option>
                    <ion-option value="2">2.</ion-option>

                </ion-select>
            </ion-item>
        </ion-col>

    </ion-row>


    <ion-row>

        <ion-col>
            <!-- <ion-input type="text" placeholder="ตำเเหน่ง"></ion-input> -->

            <ion-item class="boxc">

                <ion-label>ตำเเหน่ง</ion-label>
                <ion-select okText="ตกลง" cancelText="ปิด">
                    <ion-option value="1">1.</ion-option>
                    <ion-option value="2">2.</ion-option>

                </ion-select>
            </ion-item>
        </ion-col>

    </ion-row>

</ion-grid>