ask {
    p{
        font-size: 0.8rem;
    }
    ion-label{
        white-space: normal;
    }
    .coursesize1 {
        font-size: 2.0rem;
    }
    .cardsize{
        box-shadow: -1px 2px 6px 2px rgba(0, 0, 0, 0.18);
		-webkit-box-shadow : -1px 2px 6px 2px rgba(0, 0, 0, 0.18);
    }
}
