page-learndetail {
    .imgReward {
        margin: 0px;
        text-align: center;
    }
    .learntitle{
        background-color: #fff;
        border-width: 5px;
        border-style: solid;
        border-color: #fff;
        font-size: 2.2rem;
        font-weight: 700 !important;
        color: #50A12C;
    }
    .bg {
        background-color: #f6f6f6;
        border-color: white;
        border-style: solid;
        border-width: 18px;
    }
    .segment-ios-secondary .segment-button{
        border-color: transparent;
        padding: 0px 0 35px 0 !important;
        font-size: 2rem;
        font-weight: bold;
        color: #AEAEAE;
        border-radius: 0 !important;
    }
    .label-md-colorFont, .label-ios-colorFont{
        font-weight: 700 !important;
    }
    
    .coursenamed{
        font-size: 1.8rem;
    }
    

    .segment-ios-secondary .segment-button.segment-activated{
        background: transparent !important;
        color: #62AB40;
        border-bottom: solid;
        border-radius: 0;
    }

    .segment-md .segment-button{
        border-color: transparent;
        font-size: 2rem;
        font-weight: bold;
        color: #AEAEAE;
    }

    .segment-md-secondary .segment-button.activated, .segment-md-secondary .segment-button.segment-activated{
        background: transparent !important;
        color: #62AB40;
        border-bottom: solid;
        border-radius: 0;
    }
    .rowpic {
        text-align: center;
    }
    .Bprint {
        text-align: center;
        padding-top: 6px;
        
    }
    .col-pic {
        // background-color: #f6f6f6;
        border-color: white;
        border-style: solid;
        border-width: 5px;
    }
    .picaccom {
        // margin-top: 15px;
        height: 100%;
        width: 100%;
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.18);
		-webkit-box-shadow : 0 5px 6px rgba(0, 0, 0, 0.18);
        
    }
    .imgCourse {
        text-align: center;
        margin: 5px;
    }
    .tabsCours {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .status {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        ;
    }
    .containerGrid {
        padding: 0px
    }
    .toolbar-ios ion-title {
        padding: 0px;
    }
    .lession {
        background-color: #e9e9e9;
        width: 100%;
    }
    .d:focus, .d:active ,.activated{
        border-bottom: 2px solid #62ab40;
        padding-bottom: 2px;
    
    }
    .buttonBprint{
        height: 2.6rem;
        background: #CB3A70!important;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #E96969, #CB3A70)!important;  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #E96969, #CB3A70) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        box-shadow: none;
        -webkit-box-shadow:none;
    }
    .scoretest{
        text-align: right;
    }
    .testgSize{
        max-width: 25% !important;
        width: 25% !important;
    }
}