page-directory {
	
	ion-slides{
		height:auto;
	    margin: 0 -12px;
    	width: calc(100% + 24px);
		&#featured{
			z-index:1;
			position:relative;
			.swiper-container{
				padding:5px;
			}
		}
	}
	
	.swiper-container{
		height:auto;
		padding-bottom:30px;
	}
	.course_featured_image{
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
		height: 60px;
		
		overflow: hidden;
		margin: 10px;
		width: calc(100%+20px);
		img{
			width: 100%;
		}
	}
	.namecourse1{
		color: #62AB40	;
		font-size: 2.4rem !important;
		font-weight: 700 !important;
		padding: 0.7rem 0.7rem 0 1.7rem;
	}
	.swiper-wrapper{
		padding-left: 13px;
	}
	.allcourse{
		margin-right: 10px;	
	}
	ion-header{
		background:map-get($colors, title);
	}
	ion-content{
		ion-searchbar{
		    border: none !important;
    		background: none !important;
		}
	}
	#searchbar,#filters{
		margin:-15px -15px 15px;
		background: chartreuse;
	}
	ion-searchbar{
		padding:0;
		input.searchbar-input{
			box-shadow:none !important;
			border-bottom:1px solid rgba(0,0,0,0.2);
		}
	}
	#all_courses{
		margin:-10px;
	}
	#filters{
		ion-row{
			border-bottom: 1px solid rgba(0,0,0,0.1);
			>ion-col:first-child{
				border-right: 1px solid rgba(0,0,0,0.1);
			}
		}
	}

	.filter_sort_select{
		height: 5rem;
		margin: 2px;
		button,ion-item{
			// background: ;
		    color: #444;
		    padding: 2px 2px 2px 8px;
		    font-size: 1.4rem;
		    text-align: start;
		    border: none;
			box-shadow: none;
		}

		ion-item .item-inner{
			border:none !important;
		}
	}

	#filter_options{
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100vh;
	    display: block;
	    z-index: 99;
	    background: rgba(0,0,0,0.8);
	    padding:30px;

	    text-align: center;
	    color: #444;
	    border-radius:5px;
	    ion-list{
    	    border-radius: 5px;
    		overflow: hidden;
    		margin-bottom: 1rem;
	    }
	    #apply_filters{
	    	height: 5rem;
    		margin: 0 0 1rem;
	    }
	}

	#filters{
		button{
		    height: 4rem;
    		font-size: 1.4rem;
    		&:hover{
    			background:none;
    		}
		}
	}
	ion-select{
	    max-width: 100% !important;
    	.select-text{
    		color:#444 !important;
    	}
    	.select-icon{
    		position: absolute !important;
    		right: 15px;
    		.select-icon-inner{
    			color:#444 !important;
			}
    	}
	}

	.swiper-container {
		padding-bottom:0px;
	}
	.toolbar-ios ion-title{
		padding: 0px;
	}

	.g{
		display: block !important;
	}
}

@media (max-width:500px){
	page-directory {
		courseblock .course_block .course_featured_image img{opacity:0;}
		courseblock .course_block .course_featured_image{
			background-size: contain;
    		height: 100% ;
		}
	}
}

