page-contact {
	
	.scroll {
        height: 100%
      }
 
      #map {
		  position: relative;
        width: 100%;
		height: 100%;
		border: 2px solid;
		border-color: rgb(168, 166, 166);
      }
	.item-button{
		height:48px !important;
	}
	.card-header-md{
		padding: 10px 0px 0px 16px !important;	
	}
	.card-header-ios{
		padding: 10px 0px 0px 16px !important;	
	}
	.font-header{
		font-size: 20px;
	}
	.textsize{
		font-size: 2rem;
		font-weight: 600;
		
	}
	.textsize1{
		font-size: 1.5rem;
		padding: 0%;
		margin-left: 5%;
		
	}
	
		.data{
			text-align: left;
			padding: 0;
			margin-left: 5%;
			position: absolute;
			bottom: 5%;
			width: 90%;
			height: 30%;
		
		}
		.toolbar-ios ion-title{
			padding: 0px;
		}
}	
