<ion-header>
    <ion-navbar color="Custom_green">
        <ion-searchbar *ngIf="isSearchbarOpened" [showCancelButton]="true" (ionCancel)="changeStatus(false)" (ionInput)="getItems($event)"></ion-searchbar>
        <ion-grid>
            <ion-row>
                <ion-col col-1>
                    <button ion-button menuToggle *ngIf="!isSearchbarOpened">
                        <ion-icon class="iconmenu" name="ios-menu"></ion-icon>
                    </button>
                </ion-col>
                <ion-col col-11>
                            <ion-title *ngIf="!isSearchbarOpened" class="menutitle ios-menutitle">{{config.get_translation('home_title')}}</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
        <ion-grid>
        <ion-row>
        <ion-slides pager class="ion">
                <ion-slide *ngFor="let slide of slider">
                    <img class="img-responsive" [src]="slide.image" />
                </ion-slide>
            </ion-slides>
            </ion-row>
               <ion-row>
                <ion-col>
                    <div class="namecourse">
                        <h5>หลักสูตรใหม่</h5>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-slides slidesPerView="3">
                    <ion-slide *ngFor="let category of categories" (click)="goToLearnDetail(category)">
                        <coursecard [course]="category"></coursecard>
                    </ion-slide>
                </ion-slides>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="namecourse1">
                        <h5>หลักสูตร</h5>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="buttonAll">
                        <button ion-button round ion-button color="secondary" (click)="goToDirectory()">ดูทั้งหมด</button>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                   
                <ion-slides slidesPerView="3">
                    <ion-slide class="slidesize" *ngFor="let category of categories"(click)="goToLearnDetail(category)" >
                                <coursecard [course]="category"></coursecard>
                    </ion-slide>
                </ion-slides>
            </ion-row>
    </ion-grid>

</ion-content>