tablereport {
    .card {
        margin-left: 10px;
        width: 95%;
        border-radius: 7px;
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.07);
		-webkit-box-shadow :0 0 6px 3px rgba(0, 0, 0, 0.07);
    }
    .pic {
        width: 100%;
        height: 20px;
        margin-top: 10px;
    }
    .datereport{
        font-size: 1.7rem;
       
    }
    .datereport2{
        font-size: 2rem;
        font-weight: 600 !important;
        color: #707070;
    }
    .contact-his{
        font-size: 1.7rem !important;
    }
    .card-content-ios{
        line-height: 1;
    }
    .card-content-md{
        line-height: 1;
    }
}