page-course-id {
    .namecourse {
        color: #51a26a;
        margin-left: 30px;
    }
    .course {
        margin-left: 30px;
    }
    .cardcourses {
        width: 100%;
        margin: 5px;
        // margin-right: -5px;
        margin-left: -3px;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .toolbar-ios ion-title{
		padding: 0px;
	}
}