evaluatecard {
    .titleeva{
        font-size: 1.2em;
        font-weight: 600 !important;
        color: #434343;
    }
    .titleevahead{
        font-size: 1.2em;
        font-weight: 600 !important;
        color: #5CAA2F;
        // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding-bottom: 10px;
        text-align: center;
    }
    .htitleeva{
        text-align: left !important;
        font-size: 1.4em;
        color: #5CAA2F;
        margin: 5px 0px 5px 10px;;
    }
    .ptitleeva{
        text-align: left !important;
        font-size: 1.2em;
        margin: 5px 0px 5px 15px;
        // border-top: 1px solid rgba(0, 0, 0, 0.0784313725490196);
    }
    .list-md,.list-ios{
        margin-left: auto;
        margin-right: auto;
    }
    .radio-md .radio-icon,.radio-ios .radio-icon{
        margin: 1px !important;
        padding: 12px !important;
    }
    .radio-md .radio-checked{
        border-color: #7ebb35 !important;
    }
    .radio-ios .radio-icon{
        left: 0;
        top: 0;
        border-radius: 50%;
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-style: solid;
        border-color: #787878;
        
    }
    .radio-ios .radio-icon::before{
        
    }

    .radio-md .radio-inner{
        background-color: #7ebb35 !important;
        left: 8px;
        top: 8px;
       
    }
    
    .radio-ios .radio-inner{ 
        border-color: #7ebb35 !important;
        left: 8px;
        top: 8px;

    }
    .nextbtntest{
        background-color: #62AB40 !important;
        margin-top: 1em;
        margin-right: 8%;
        color: #fff;
        font-size: 1.4em;
        font-weight: 500 !important;
        border-radius: 5px;
        padding: 10px;
        float: right;
    }

    .backbtntest{
        background-color: #707070 !important;
        margin-top: 1em;
        margin-left: 8%;
        color: #fff;
        font-size: 1.4em;
        font-weight: 500 !important;
        border-radius: 5px;
        padding: 10px;
        float: left;
    }
    .submitbtntest{
        background-color: #49525b !important;
        margin-top: 1.5em;
        color: #fff;
        font-size: 1.6em;
        font-weight: 600 !important;
        border-radius: 5px;
        padding: 10px;
    }
    .text-center{
        text-align: center;
    }
    #evatext{
        border: 1px solid rgba(112, 112, 112, 0.3803921568627451);
        border-radius: 3px;
        margin-left: 8%;
        width:80%;
        height: 60% !important;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .tagnum{
        position: relative;
        left: -24px;
        top: 11px;
        font-size: 1.2em;
        color: #707070;
        font-weight: 600 !important;
    }

}
