// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (  primary: #488aff, 
            secondary: #32db64, 
            danger: #D9534F, 
            light: #f4f4f4, 
            dark: #434343, 
            font: #707070, 
            fontTilt:#434343, 
            colorFont:#62ab40, 
            Custom_green: #49525b, 
            collab:#e9e9e9, 
            iconColLab :#c0c0c0, 
            Bconplete:#454f63, 
            Bcancel:#bfbfbf, 
            Fok:#eaeaea, 
            lol:rgb(68, 235, 96),
            purplee:#d9516c,
            green1:#89CB3A,
            custom:#707070);
            

$fontSize:( k: 3rem);
.menutitle {
    text-align: center;
}

.text-success{
    color: #62AB40 !important;
}
.text-danger{
    color: #d9516c !important;;
}

.iconsearch {
    font-size: 1.6em;
}
.tabs-ios .tabbar{
    border-top: none !important;
}

p{
    color: #222 !important;
}

.search {
    margin-right: 10px;
    padding: 0;
    text-align: right;
    background-color: transparent;
    float: right;
}

.toolbar-title{
    font-size: 2.6rem !important;
}

.button-md{
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
}

.button-md-secondary{
    font-size: 1.5rem !important;
    background: #89CB3A!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #50A12C, #89CB3A)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #50A12C, #89CB3A) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-ios-secondary{
        font-size: 1.8rem !important;
        background: #89CB3A!important;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #50A12C, #89CB3A)!important;  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #50A12C, #89CB3A) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-android-secondary{
    background: #89CB3A!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #50A12C, #89CB3A)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #50A12C, #89CB3A) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.button-round-ios{
    padding: 0 1.6rem !important;
}
.button-ios{
    height: 2em !important;
}
.toolbar-title{
    font-size: 2.2rem !important;
}

page-home .buttonAll{
    position: relative;
    top: 17px !important;
}
.menutitle {
    text-align: center;
    font-weight: bold !important;
}

.ios-menutitle{
    padding-bottom: 0px !important;
}
.iconmenu {
    font-size: 2em;
}
button.search{
    float: right;
    background-color: transparent;
}

.button-md{
    -webkit-box-shadow:none !important ;
    box-shadow: none !important;
}

.bg {
    // background-image:"assets/images/bg2.jpg";
    background-color: #ffffff;
}

.text-center{
    text-align: center;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";

@font-face{
    font-family: 'ThaiSansNeue';
    src: url(../assets/fonts/thaisans/ThaiSansNeue-Regular.ttf);
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title, ion-label, ion-card-title, ion-col, div{
    font-family:"ThaiSansNeue" !important;
    font-weight: 400!important;
}

hr{
    height: 1px !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.list-ios > .item-block:first-child{
    border-top:0 !important;
}
.list-ios > .item-block:last-child{
    border-bottom:0 !important;
}

.mt-1{
    margin-top: 10px;
}

.colstyle{
    max-width: 15% !important;
}

.tabs-ios .tab-button-icon{
    min-width: 25px !important  ;
    height: 25px !important;
    font-size: 25px !important;
}
button.back-button:focus{
    border: 0 !important;
}
button:focus{
    border: 0 !important;
    background-color: transparent !important;
}
.item-radio-checked.item-ios ion-label{
    color: #5caa2f !important;
}
.radio-ios .radio-checked .radio-inner{
    border-color: #5caa2f !important;
}
// color

.colorstock{
    color: #434343;
    color: #707070;
    color: #5CAA2F;
    color: #D9534F;
    color: #62AB40;
    color: #F0AD4E;
    color: #AEAEAE;
}   