course-idblock {
    position: relative;
    .success {
        color: green;
    }
    .wishlist {
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 2rem;
        opacity: 0.5;
        z-index: 99;
        &:before {
            content: "\f307";
            font-family: "Ionicons";
        }
        &.active {
            opacity: 1;
            &:before {
                content: "\f308";
                color: red;
            }
        }
    }
    .courseid_block {
        margin-bottom: 0px;
        margin-top: 0px;
        .course_featured_image {
            background-repeat: no-repeat;
            background-position: center;
            height: 125px;
            overflow: hidden;
            margin: -6px;
            width: calc(100%+20px);
            img {
                width: 100%;
            }
        }
        .card {
            background: rgba(255, 255, 255, 0.95);
        }
        .card-content {
            text-overflow: ellipsis;
            min-width: 0;
            overflow: hidden;
            padding: 0px;
            margin-top: 25px;
            padding: 0 0 0 5px;
            width: 100%;
            
            .card-title {
                font-size: 2rem !important;
                font-weight: 700 !important;
                color: #50A12C;
                margin: 0;
                padding: 0;
                text-overflow: ellipsis;
                min-width: 0;
                overflow: hidden;
                width: 90%;
                
            }
            #detail {
                text-overflow: ellipsis;
                min-width: 0;
                overflow: hidden;
                
            }
            p {
                text-overflow: ellipsis;
                min-width: 0;
                overflow: hidden;
                font-size: 1.6rem;
                width: 90%;
            }
            span{
                font-size: 1.6rem;
            }
        }
    }
    .buttonAll {
        padding-top: -12px;
        text-align: right;
    }
    .button-md-secondary {
        width: 10px;
        height: 20px;
        color: #fff;
        // background-color: #32db64;
        font-size: 1.4rem;
    }
    .grid{
        padding: 0px;
    }
    .row{
    margin-top: -2px;
    }
}