    <ion-row>
        <ion-col>
            <button ion-button menuToggle *ngIf="!isSearchbarOpened">
                <ion-icon class="iconmenu" name="ios-menu"></ion-icon>
            </button>
        </ion-col>
        <ion-col>
                <ion-title *ngIf="!isSearchbarOpened" class="menutitle ios-menutitle">{{config.get_translation('home_title')}}</ion-title>
        </ion-col>
        <ion-col>
             <button ion-button class="search" (click)="changeStatus(true)" *ngIf="!isSearchbarOpened">
                <ion-icon color="light" class="iconsearch" ios="ios-search" md="md-search"></ion-icon>
            </button>
        </ion-col>
    </ion-row>

