<div class="course_block">
  <ion-grid>
      <ion-row>
          <ion-col col-4 col-sm-12>

          </ion-col>
          <ion-col col-8 col-sm-12>
              

              <ion-card-content text-nowrap>
                  <ion-card-title text-nowrap>
             
                  </ion-card-title>
                 <span>
          
                 </span>
                      <div>วันที่เริ่มต้น - วันที่สิ้นสุด</div>

              </ion-card-content>
          </ion-col>
      </ion-row>
  </ion-grid>



  <ion-grid>
      
      </ion-grid>
</div>