page-score {
    .untext{
        margin-top: 0.5em;
        margin-bottom:0.5em;
        font-size: 1.6em;
        font-weight: 600 !important;
        color: #d9516c;
        text-align: center;
    }
    .succtext{
        margin-top: 0.5em;
        margin-bottom:0.5em;
        font-size: 1.6em;
        font-weight: 600 !important;
        color: #62AB40;
        text-align: center;
    }
    .pie-wrapper{
        margin-bottom: 5px;
    }
   
    div.progressline-inner{
        background-color: #F0AD4E !important;
    }
    .pointall{
        font-size: 1.6em;
        font-weight: 600 !important;
        color: #434343;
    }
    .succuntest{
        margin-top: 1em;
        height: 70px;
    }
    .carduser {
        padding: 12px;
        border-radius: 7px;
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.07);
		-webkit-box-shadow :0 0 6px 3px rgba(0, 0, 0, 0.07);
    }

    .donut-size{
        font-size: 9em;
        margin-top:15px;
    }
    .pie-wrapper{
        position: relative;
        width: 1em;
        height: 1em;
        margin: 0px auto;
        .pie{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            clip: rect(0, 1em, 1em, 0.5em);
        }
        .half-circle{
            position: absolute ;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border: 0.1em solid #5CB85C;
            border-radius: 50%;
            clip: rect(0em, 0.5em, 1em, 0em);
        }
       
    .right-side{
        transform: rotate(0deg);
    }
     
    .label{
        position: absolute;
        top: 0.52em;
        right: 0.4em;
        bottom: 0.4em;
        left: 0.4em;
        display: block;
        background: none;
        border-radius: 50%;
        color: #7F8C8D;
        font-size: 0.25em;
        line-height: 2.6em;
        text-align: center;
        cursor: default;
        z-index: 2;
    }
       
    .smaller{
        padding-bottom: 20px;
        color: #525252;
        font-size: 2.5rem;
        position: absolute;
    bottom: -25%;
    right: 25%;
    }
       
    .shadow{
        width: 100%;
        height: 100%;
        border: 0.1em solid #ededed;
        border-radius: 50%;
    }
       
    
   
    }
    .canceltest{
        font-size: 1.4em;
        background-color: transparent;
        color: #fff;
    }


    
}
