question {

    .bg{
        background-color: rgb(20, 65, 23);
    }

    .card{

      color: #000;
        

    }

    .header{
        font-size: 2.2rem;
        font-weight: 700 !important;
        color: rgb(54, 161, 44);
    
      
    }

    .label{
        font-size: 2.2rem;
        color: rgb(1, 5, 0);
    }

    .buttonAll{
        text-align: right;

        
    }

    .item{

       background-color : rgb(162, 236, 166);
    }

   

}
