page-resetpassword {
    .picforgotpassword {
        margin-top: 50px;
        text-align: center;
    }
    .resetpass {
        font-size: 30px;
        margin-left: 20px;
    }
    .iconclose {
        text-align: left;
    }
    #button {
        text-align: center;
        width: 100%;
        bottom: 0;
        position: absolute;
        margin-left: -15px;
    }
    #divbutton {
        font-size: 40px;
        padding: 0 8rem;
        height: 80px;
    }
    #bt {
        text-align: right;
        width: 15px;
        height: 15px;
    }
}