news {
    .imgsize{
		max-width: 100%;
		width: 100%;
		height: 60%;
		// height: 500px;
	
	}
	.cardsize{
		margin-top: 15%;
		width: 90%;
		height: 50% !important;
		padding: 0%;
		border-radius: 3px;
		box-shadow: -1px 2px 6px 2px rgba(0, 0, 0, 0.18);
		-webkit-box-shadow : -1px 2px 6px 2px rgba(0, 0, 0, 0.18);
	}
	.coursesize1{
		margin-left: 5%;
		font-size: 1.6rem;
		
		
	}
	.coursesize2 {
		margin-left: 5%;
		font-size: 1.8rem;
		font-weight: 700 !important;
    }
}


