registerdetails1 {
    .picregister {
        margin-top: 0px;
        text-align: center;
    }
    .iconn {
        width: 30px;
        height: 30px;
        margin-left: 20px;
        margin-top: -10px;
    }
    .boxc {
        margin-top: 10px;
        margin: 5px;
        box-sizing: border-box;
        border: 2px solid #d7d7d7;
        border-radius: 7px;
    }
    .card_n {
        width: 100%;
        height: 100%;
    }
    .boxx {
        box-sizing: border-box;
    }
    .level {
        font-size: 30px;
        text-align: left;
        margin-top: 22px;
    }
    .coll {
        margin-right: 20px;
    }
}