<div [navPush]="" [navParams]="lesson">
<ion-card class="customCard">
  <ion-card-header (click)="toggleAccordion()">
    <ion-item color="collab">
      <button ion-button clear small icon-only item-right>
        <ion-icon color="iconColLab" [name]="icon"></ion-icon>
      </button>
      <ion-label class="coursenamed" color="colorFont">{{lesson.title}}</ion-label>
      <ion-label *ngIf="lesson.learn_pass_status == 'pass'" ><span class="pass">ผ่านบทเรียน</span>  </ion-label>
      <ion-label *ngIf="lesson.learn_pass_status == 'learning'"><span class="learning">กำลังเรียน</span></ion-label>
      <ion-label *ngIf="lesson.learn_pass_status == '' " ><span  class="null">ยังไม่เข้าเรียน</span> </ion-label>

    </ion-item>
  </ion-card-header>
  <ion-card-content #cc>
      <ion-list>
          <ion-item *ngIf="lesson.pre.pre > 0" class="customItem"> 
              <ion-label class="fontSize steplearn">ขั้นที่ {{number1}} <span class="stepdetail"> สอบก่อนเรียน </span></ion-label>
              <button *ngIf="lesson.prescore == ''; else gg" class="btnOpenLearn testpre" ion-button item-end (click)="goToTest('pre')">
                    <img class="positionIcon" src="assets/icon/edit.svg">
                  <ion-label class="fontSize">ทำแบบทดสอบ</ion-label>
              </button>
              <ion-label *ngIf="lesson.prescore != ''" class="fontSize scoretest"><span class="scorebox"> {{lesson.prescore.score_number}}/{{lesson.prescore.score_total}}<span class="text-dark">&nbsp;คะแนน</span></span> </ion-label>
            </ion-item>
            <ion-item *ngFor="let item of lesson.file;let i = index" class="customItem">
                <ion-label class="fontSize steplearn"> ขั้นที่ {{number2}}  <span class="stepdetail">ดาวน์โหลด ไฟล์ประกอบการเรียน</span></ion-label> 
                <button class="btnOpenLearn" ion-button item-end (click)="downDoad(item,i)">
                    <img class="positionIcon" src="assets/icon/cloud-computing.svg">
                    <ion-label class="fontSize">ดาวน์โหลด</ion-label>
                </button>
              </ion-item>
              <ion-item class="customItem">
                  <ion-label class="fontSize steplearn ">ขั้นที่ {{number3}}  <span class="stepdetail">การเข้าเรียน</span> </ion-label>
                  <button class="btnOpenLearn btn-warning" ion-button item-end (click)="goToTest('learn');">
                      <img class="positionIcon" src="assets/icon/play-button.svg">
                      <ion-label class="fontSize">เข้าสู่การเรียน</ion-label>
                  </button>
                  
                </ion-item>
                <ion-item *ngIf="lesson.post.post > 0" class="customItem">
                    <ion-label class="fontSize steplearn">ขั้นที่ {{number4}}  <span class="stepdetail">สอบหลังเรียน</span> </ion-label> 
                    <button *ngIf="lesson.postscore == ''" class="btnOpenLearn testpre" ion-button item-end (click)="goToTest('post')">
                            <img class="positionIcon" src="assets/icon/edit.svg">
                            <ion-label class="fontSize">ทำแบบทดสอบท้ายบท</ion-label>
                        </button>
                        <ion-label *ngIf="lesson.postscore != ''" class="fontSize scoretest"><span class="scorebox">{{lesson.postscore.score_total}}/{{lesson.postscore.score_number}}<span class="text-dark">&nbsp;คะแนน</span> </span></ion-label>
                  </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>
</div>